.loginContainer {
    /* height: 100vh; */
    background-color: rgb(166, 2, 187);
    display: flex;
    margin: 65px 0px 10px 0px;
    margin-top: 10px !important;
    min-height: 100vh;
    align-items: center;
    justify-content: center;


    .loginBanner {
        /* position: absolute; */
        background-color: rgba(255, 255, 255, 0.687);
        border-radius: 20px;
        display: block;
        /* height: 80vh; */
        top: 10vh;
        left: 10vw;
        margin-top: 80px;


        .loginText {
            font-size: 6vh;
            text-align: center;          
            color: black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            /* animation: bounce;
            animation-duration: 2s; */
        }

        .card1 {
            padding: 10px 10px 10px 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            img{
                margin: auto auto auto auto;
                height: 6vh;
                width: auto;
            }
            form {
                display: block;
                margin: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;
                background-color: white;
                border-bottom-left-radius:30px;
                border-bottom-right-radius:30px;
                .inputdiv {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    display: flex;
                    
                    label{
                        /* border: 2px solid lightgray; */
                        font-weight: bold;
                    }

                    .tandc{
                        font-size: smaller;
                    }

                    input{
                        width: 100%;
                        border: 2px solid black;
                    }

                    .submitbtn {
                        margin-top: 20px;
                        padding: 10px 10px 10px 10px;
                        background-color: rgb(197, 22, 220);
                        font-size: 20px;
                        width: 100%;
                    }

                    .submitbtn:hover {
                        background-color: rgb(166, 2, 187);
                    }

                }



            }
        }
    }
}
