.contactUsContainer {
    height: 100vh;
    /* background-color: rgb(255, 0, 0); */
    background-color: white;
    display: flex;
    justify-content: center;

    .contactNav {
        height: 10vh;
        width: 90vw;
        background-color: white;
        position: absolute;
        top: 80px;
        display: flex;
        align-items: center;

        .contactNavText {
            height: 10vh;
            /* width: 40vw; */
            background-color: white;
            color: rgb(0, 0, 0);
            margin-right: 10px;

            .contactNavText1 {
                font-weight: bold;
                font-size: larger;
            }
        }

        .contactNavbox {
            padding-left: 10px;
            margin-left: 100px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: 2px solid rgb(207, 207, 207);
            /* height: 10vh; */
            width: 70vw;
            background-color: white;

            .fa-bag-shopping {
                font-size: 50px;
                color: rgb(133, 133, 133);
            }

            .contactNavboxtext {
                padding-left: 10px;

                .contactNavboxtext1 {
                    font-weight: bold;
                    font-size: larger;
                }
            }
            .loginbutton{
                display: flex;
                height: 8vh;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 20px;
                margin-right: 20px;
                background-color: white;
                border: 2px solid green;
                color: green;
                border-radius: 10px;
            }
        }
    }
    hr{
        position: absolute;
        width: 90vw;
        background-color: rgb(207, 207, 207);
        height: 2px;
        top: 220px;
    }
    .contactbody{
        position: absolute;
        top: 170px;
        height: 70vh;
        width: 80vw;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-around;

        .contactbody1{
            /* position: absolute; */
            /* top: 170px; */
            height: 50vh;
            /* width: 20%; */
            padding-right: 10px;
            border-right: 2px solid rgb(207, 207, 207);
            background-color: rgba(0, 255, 255, 0);
            .redcolor{
                /* color: red; */
                color: gray;
            }
            .contactbody1text{
                font-weight: bold;
            }
            hr{
                position: relative;
                top: 0;
                width: 100%;
            }
        }
        .contactbody2{
            /* position: absolute; */
            /* top: 170px; */
            height: 50vh;
            width: 60%;
            background-color: rgba(0, 255, 255, 0);
            display: flex;
            justify-content: center;
            padding-left: 20px;
            align-items: center;
            .loginbutton{
                display: flex;
                height: 8vh;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 20px;
                margin-right: 20px;
                background-color: white;
                border: 2px solid green;
                color: green;
                border-radius: 10px;
            }

        }
    }
}
@media screen and (max-width: 520px) {
    .contactNavbox {
        width: auto !important;
    }
  }