.loginContainer {
    /* height: 100vh; */
    background-color: rgb(255, 204, 211);
    display: flex;
    margin: 65px 0px 10px 0px;
    margin-top: 10px !important;

    align-items: center;
    justify-content: center;


    .loginBanner {
        /* position: absolute; */
        display: block;
        height: 80vh;
        top: 10vh;
        left: 10vw;

        .loginText {
            font-size: 8vh;
            color: black;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .card1 {
            background-color: rgba(255, 255, 255, 0.687);
            margin: 20px 20px 20px 20px;
            padding: 10px 10px 10px 10px;
            
            img{
                margin: auto auto auto auto;
                height: 10vh;
                width: auto;
            }
            form {
                display: block;
                margin: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;
                background-color: white;

                .inputdiv {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    display: flex;

                    .tandc{
                        font-size: smaller;
                    }

                    input{
                        border: 2px solid black;
                    }

                    .submitbtn {
                        margin-top: 20px;
                        padding: 10px 10px 10px 10px;
                        background-color: rgba(128, 128, 128, 0.217);
                        font-size: 20px;
                        border: none;
                    }

                    .submitbtn:hover {
                        border: 2px solid gray;
                    }

                    .lookbtn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        background-color: rgba(128, 128, 128, 0.471);
                        font-size: 20px;
                        border: none;
                        width: auto;
                    }

                    .lookbtn:hover {
                        border: 2px solid gray;
                        border-top: 2px solid black;
                        border-bottom: 2px solid black;
                    }
                }



            }
        }
    }
}

.borderleft {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
